use vars qw(@c);
@c = (
    id    => 'download',

    title => "Download",

    abstract => <<EOB,
Get Source and Binary mod_perl distributions and additional Perl Modules
EOB

    # an ordered list pod files relative to $c{src}
    # the order is important for a correct placing of the chapters
    chapters => [qw(
        source.pod
        binaries.pod
        bundles.html
    )],

    # non-pod/html files or dirs to be copied unmodified
    copy => [
            ],
   );






