ErrorDocument 404 /404.html

### URI remapping ###

RedirectPermanent /guide/ http://perl.apache.org/docs/1.0/guide/

# embperl
Redirect permanent /Embperl/ http://perl.apache.org/embperl/
Redirect permanent /perl/Embperl/ http://perl.apache.org/embperl/
Redirect permanent /embperl.html http://perl.apache.org//embperl/

# ASP
Redirect permanent /asp http://www.apache-asp.org/

