use vars qw(@c);
@c =
    (
     id => 'home',

     stitle => "Home",

     title => "Welcome to the mod_perl world",

     abstract => '',

     body => {
         top => 'index_top.html',
         bot => 'index_bot.html',
     },

     chapters => [
         qw(
            about/about.html
           )
     ],
     docsets => [
         qw(
            download
            maillist
           )
     ],
     links => [
         {
          id       => 'take23',
          link     => 'http://take23.org/',
          stitle   => 'News@Take23',
          title    => 'News and Resources for the mod_perl world',
          abstract => 'Take23 is a news, documentation, and general advocacy web site for mod_perl
',
         },
     ],
     docsets => [
         qw(
            docs
            products
            support
            stories
            contribute
            stats
           )
     ],

     hidden => [
         chapters => [
             qw(
                404.html
               )
         ],
     ],
     # non-pod/html files or dirs to be copied unmodified
     copy_glob => [
         qw(
            style.css
            images/*
            robots.txt
           )
     ],

     copy_skip => [
         '(?:^|\/)CVS(?:\/|$)', # skip cvs control files
         '#|~',                 # skip emacs backup files
     ],

     dir => {
 	     # the resulting html files directory
 	     dst_html   => "dst_html",
 	     
 	     # the resulting ps and pdf files directory (and special
 	     # set of html files used for creating the ps and pdf
 	     # versions.)
 	     dst_ps     => "dst_ps",
 	     
 	     # the resulting split version html files directory
 	     dst_split_html => "dst_split_html",
 	     
             # location of the templates (searched left to right)
             tmpl       => [qw(tmpl/custom tmpl/std tmpl)],
 	    },	

     file => {
	      
	      # the html2ps configuration file
	      html2ps_conf  => "conf/html2ps.conf",
	      
	     },
     
#     mode => {
#	      # you can override the directories creation mode
#	      dir      => 0755,
#	     },

    );


# don't forget!!!
1;

__END__
