body {
    font-family: helvetica, arial, verdana, sans-serif;
    font-size: 1.0em;
    color: #000000;
}

p {
    font-family: helvetica, arial, verdana, sans-serif;
    font-size: 1.0em;
    color: #000000;
}

h1 { font-size: 1.3em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.1em; }
h4 { font-size: 1.0em; }

h1, h2, h3, h4, h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited  {
    color: #525d76;
    text-decoration: none;
    font-family: helvetica, arial, verdana, sans-serif;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    color: #999999;
    text-decoration: none;
}

a:link    { color: #0000ff;}
a:visited { color: #993333;}
a:active  { color: #666666;}
a:hover   { color: #666666;}

/* light blue bg-color for menu-titles */
td.menu-title-bg { background-color: #828da6; }

/* light gray/white bg-color for non-selected menu-items */
td.non-sel-bg { background-color: #eeeeee; }

/* dark blue bg-color for selected menu-items */
td.sel-bg { background-color: #525d76; }

div.nonselectedmenuitem {
    padding: 3px;
    background-color: #eeeeee;
    font-size: 0.9em;
    font-family: verdana, arial, helvetica, sans-serif;
}

div.nonselectedmenuitem a:link, div.nonselectedmenuitem a:visited, div.nonselectedmenuitem a:active {
    color: #525d76;
    text-decoration: none;
}

div.nonselectedmenuitem a:hover { color: #999999; }

div.selectedmenuitem {
    padding: 3px;
    background-color: #525d76;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 0.9em;
}

div.selectedmenuitem a, div.selectedmenuitem a:link, div.selectedmenuitem a:visited, div.selectedmenuitem a:active {
    color: #ffffff;
    text-decoration: none;
}

div.selectedmenuitem a:hover { color: #cccc99; }

div.menu-title {
    padding: 3px;
    color: #000000;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #828da6;
    text-align: center;
}

div.menu-title a:link, div.menu-title a:visited, div.menu-title a:active {
    color: #000000;
    text-decoration: none;
}

/* dark blue border color for menu-boxes */
td.menu-border { background-color: #525d76; }

/* font specs for search box */
.radio-font {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 0.9em;
    color: #000000;
}

/* main boxes */
div.logobox {
    position: absolute;
    top: 0px;
    left: 0px;
    /* this border MUST be _0px_ for ns4 and others */
    border: 0px;
    border-style: none;
    border-color: #000000;
}

div.leftbox {
    position: absolute;
    top: 55px;
    left: 0px;
    width: 174px;
    /* this border MUST be _1px_ for ns4 */
    border: 1px;
    border-style: none;
    border-color: #000000;
}

div.rightbox {
    position: absolute;
    top: 55px;
    left: 190px;
    padding: 0px;
    padding-right: 10px;
    /* this border MUST be _1px_ for ns4 */
    border: 1px;
    border-style: none;
    border-color: #000000;
}

div.adtext {
    font-family: helvetica, arial, verdana, sans-serif;
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
}

/* breadcrumb */
td.navbarglobal {
    font-family: verdana, arial, helvetica, sans-serif;
    color: #828da6;
    font-size: 0.85em;
}

td.navbarglobal a:link, td.navbarglobal a:visited, td.navbarglobal a:active {
    text-decoration: none;
    color: #828da6;
    font-family: verdana, arial, helvetica, sans-serif;
}

td.navbarglobal a:hover {
    text-decoration: none;
    color: #666666;
    font-family: verdana, arial, helvetica, sans-serif;
}


/* why do we need this ?*/
div.index-section {
    font-family: helvetica, arial, verdana, sans-serif;
    font-size: 1.0em;
    color: #000000;
}

div.tail {
    padding: 5px;
    font-size: 0.85em;
    font-family: helvetica, arial, verdana, sans-serif;
    border: 1px;
    border-style: none;
    border-color: #000000;
    margin-right: 0px;
}

p.copyright {
    font-size: 0.7em;
}

div.headline {
    background-color: #525d76;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.2em;
    padding: 3px;
    margin-right: 0px;
}

/* Search Results */
div.searchform { font-size: 1.0em; }

td.searchheader {
    background-color: #525d76;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #ffffff;
    font-size: 0.9em;
/*    font-size: 0.8em; */
}

td.searchtimes {
    background-color: #525d76;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #ffffff;
    font-size: 0.7em;
/*    font-size: 0.6em; */
}

td.searchnav {
    background-color: #eeeeee;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #000000;
    font-size: 0.8em;
}

td.limits {
    font-family: helvetica, arial, verdana, sans-serif;
    color: #000000;
    font-size: 1.0em;
}

span.base-result {
    font-family: helvetica, arial, verdana, sans-serif;
    color: #000000;
    font-size: 1.0em;
}

span.searchrank {
    font-family: helvetica, arial, verdana, sans-serif;
    color: #000000;
    font-size: 0.9em;
}

div.searchsummary {
/*    font-size: 0.85em; */
    font-size: 0.8em;
}

div.searchprops {
    margin-top: 0.4em;
    font-size: 0.80em;
    color: #009999;
/*    font-size: 0.6em; */
}

span.searchhighlight { background-color: #ffff99; }

code { font-family: courier new, courier, monospace; }
pre {
    font-family: courier new, courier, monospace;
    font-size: 1.0em;
    color: #000000;
}

/* lists */
dl, ul, ol {
    color: #000000;
    font-size: 1.0em;
    font-family: helvetica, arial, verdana, sans-serif;
}

dl a:link, dl a:active, ul a, ul a:link, ul a:active, ul a:visited, ul a:hover  {
    text-decoration: none;
    color: #0000ff;
}

dl a:visited {
    text-decoration: none;
    color: #993333;
}

dl a:hover {
    text-decoration: none;
    color: #666666;
}

/* misc */

/* general border-color for ad-images */
.img-border { color: #000000; }

/* dark-blue bg-color */
td.blue-bg { background-color: #525d76; }

/* light gray/white bg-color for ad-sec */
td.ad-bg { background-color: #eeeeee; }

td.pre-bar { background-color: #cccccc; }

/* lines for camel */
td.camel-line-top { background-color: #bfcfe7; }
td.camel-line-bottom { background-color: #525d76; }

/* instead of using space.gif */
.smallbr {
    font-family: helvetica, arial, verdana, sans-serif;
    font-size: 1px;
    line-height: 1px;
}

.hr { height: 1px; }

/* quotations, mainly for the first page */

.quotation {
    font-style: italic;
}
p.quotation {           /* Used to cite the author */
    text-align: right;
}
