body {
    font-family: helvetica, arial, verdana, sans-serif; 
    font-size: 1.0em;
    color: #000000; 
}

p {
    font-family: helvetica, arial, verdana, sans-serif; 
    font-size: 1.0em;
    color: #000000; 
}

h1, h2, h3, h4 {
    color: #525d76;
    font-size: 1.2em;
    font-family: helvetica, arial, verdana, sans-serif;
}  

a:link    { color: #0000ff;} 
a:visited { color: #993333;}
a:active  { color: #666666;}
a:hover   { color: #666666;}

td.menu-title-bg {
    background-color: #828DA6;
}

td.non-sel-bg {
    background-color: #eeeeee;
}

td.sel-bg {
    background-color: #525d76;
}

div.nonselectedmenuitem a:link, div.nonselectedmenuitem a:visited, div.nonselectedmenuitem a:active {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #525d76;
    text-decoration: none;
}

div.selectedmenuitem a, div.selectedmenuitem a:link, div.selectedmenuitem a:visited, div.selectedmenuitem a:active {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
}

div.nonselectedmenuitem {
    padding: 3px;
    color: #000000;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 12px;
    background-color: #eeeeee;
}

div.selectedmenuitem {
    padding: 3px;
    color: #000000;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 12px;
    background-color: #525d76;
}

div.nonselectedmenuitem a:hover, div.selectedmenuitem a:hover {
    color: #999999;
}

div.menu-title {
    padding: 3px;
    color: #000000;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #828da6;
    text-align: center;
}

td.menu-border {
    background-color: #525d76;
}

/* standard html tags */

td.search {
    background-color: #525d76;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    color: #ffffff;
}

/* main boxes */
div.leftbox {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 170px;
    padding: 0px;
}

div.rightbox {
    position: absolute;
    top: 5px;
    left: 190px;
    padding: 5px;
    padding-right:10px; 
    border: 1px;
    border-style: none;
    border-color: #000000;
}



/* boxes in the left box */
div.logo {
    width: 150px;
    padding: 5px;  /* 0px works in NS4 */
    border: 1px;
    border-style: none;
    /* background-color: #ffffff; */
}

div.menumain {
    border: 1px;
    padding: 5px;
    border-style: none;
   /* background-color: #ffffff; */
}

div.menulinks {
    border: 1px;
    padding: 5px;
    border-style: none;
    /* background-color: #ffffff; */
}

div.ad {
    border: 1px;
    padding: 5px;
    border-style: none;
   /* background-color: #ffffff;*/
}

div.ad a:link    {text-decoration: none; color: #525d76;}
div.ad a:visited {text-decoration: none; color: #525d76;}
div.ad a:active  {text-decoration: none; color: #525d76;}
div.ad a:hover   {text-decoration: none; color: #666666;}

div.adtext {
    font-family: helvetica, arial, verdana, sans-serif;
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
}


/*breacrumb*/
td.navbarglobal {
    font-family: verdana, helvetica, sans-serif;
    color: #828da6;
    font-size: 0.85em;
}


td.navbarglobal a:link, td.navbarglobal a:visited, td.navbarglobal a:active {
    text-decoration: none; 
    color: #828da6;
    font-family:  verdana, sans-serif;
}

td.navbarglobal a:hover {
    text-decoration: none; 
    color: #666666;
    font-family:  verdana, sans-serif;
}

div.index_section {
    font-family: helvetica, arial, verdana, sans-serif; 
    font-size: 1.0em;
    color: #000000; 
}

div.tail {
    padding: 5px;
    font-size: 0.85em;
    font-family: helvetica, arial, verdana, sans-serif;
    border: 1px;
    border-style: none;
    border-color: #000000;
    /*background-color: #ffffff;*/
    margin-right: 0px;
}


/* various font defs */
.headline {
    color: #ffffff;
    font-family: helvetica, arial, verdana, sans-serif;
    font-size:1.5em;
    font-weight: bold;
}

code { 
    font-family: courier new, courier, monospace;
}

/* lists */
dl, ul {
    color: #000000;
    font-size: 1.0em;
    font-family: helvetica, arial, verdana, sans-serif;
}

dl a:link, dl a:active, ul a, ul a:link, ul a:active, ul a:visited, ul a:hover  {
    text-decoration: none; 
    color: #0000ff;
}

dl a:visited {
    text-decoration: none; 
    color: #993333;
}

dl a:hover {
    text-decoration: none; 
    color: #666666;
}

/* formfields */
.input-fld { 
    height: auto;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
}

.submit-but {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 10px;
    height: auto;
}

/* misc */

/* border-color for ad-images */
.img-border {
    color: #000000;
}


/* font specs for download widget */
td.download a:link, td.download a:active , td.download a:visited {
    text-decoration: none;
    font-size: 0.85em;
    font-family: helvetica, arial, verdana, sans-serif;
}

td.download a:hover {
    text-decoration: none;
    color: #666666;
    font-size: 0.85em;
    font-family: helvetica, arial, verdana, sans-serif;
}

/* "spacegif" substitute in menus */
td.blue-bg {
    background-color: #525d76;
}

td.ad-bg {
    background-color: #eeeeee;
}

/* hack aimed for opera instead of using space.gif*/
.smallbr {
    font-family: helvetica, arial, verdana, sans-serif;
    font-size: 1px;
    line-height: 1px;
}

.medbr {
    font-family: helvetica, arial, verdana, sans-serif;
    font-size: 8px;
    line-height: 8px;
}

.hr { height: 1px; }
